header{
    font-size: 25px;
}
section {
    display: flex;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 5px;
}
label {
    margin-right: 10px;
}
table {
    border-collapse: collapse;
    border: 1px solid rgba(204, 204, 204, 1);
}
th, td {
    border: 1px solid rgba(204, 204, 204, 1);
    padding: 8px;
}
select{
    width:80px;
    height:25px;
}
#han{
    width:120px;
}


#header{
    display: flex;
    align-items: center;
}

#imageButton{
    background: transparent;
    border: none;
    padding: 0;
    width: 20px;
    height: 20px;
    margin-left: 5px;
}
.imageButton img {
    width: 100%;
}
#resetButton{
    width:80px;
    height:30px;
    margin-top: 10px;
}
#inputWrap{
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-top: 10px;
}
#resultButton{
    width:80px;
    height:30px;
    margin-top: 10px;
}
#result{
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 5px;
    display: grid;
    grid-template-rows: 25px 25px 25px 25px;
	grid-template-columns: 120px 75px;
    margin-top: 10px;
}

#resultFu{
    grid-row: 1;
	grid-column: 1 / span 2;
}
#resultScore0{
    grid-row: 2;
	grid-column: 1 / span 2;
}
#resultScore1{
    grid-row: 3;
	grid-column: 1 / span 2;
}
#resultScoreT{
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    grid-row: 4;
	grid-column: 1;
}
#resultJudge{
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    grid-row: 4;
	grid-column: 2;
    color: rgba(225, 100, 0, 1);
}

/* padding→内側 */
/* margin→外側 */


/* ポップアップの背景 */
.popupOverlay {
    display: none;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.5);

    justify-content: center;
    align-items: center;

    z-index: 1000;
}


/* ポップアップ本体 */
.helpWindow {
    width: 90%;
    max-width: 600px;

    height: 80%;
    max-height: 700px;

    background: white;
    border-radius: 10px;

    display: flex;
    flex-direction: column;

    overflow: hidden;
}


/* ヘッダー */
.helpHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 15px;

    border-bottom: 1px solid #ccc;
}

.helpHeader h2 {
    margin: 0;
}


/* 閉じるボタン */
#closeButton {
    border: none;
    background: none;

    font-size: 28px;
    cursor: pointer;
}


/* タブ */
.tabMenu {
    display: flex;

    border-bottom: 1px solid #ccc;

    overflow-x: auto;
}


/* タブボタン */
.tabButton {
    flex: 1;

    padding: 10px;

    border: none;
    background: #eee;

    cursor: pointer;

    white-space: nowrap;
}


/* 選択中のタブ */
.tabButton.active {
    background: white;

    border-bottom: 3px solid #555;
}


/* 説明部分 */
.tabContents {
    flex: 1;

    overflow-y: auto;

    padding: 20px;
}


/* タブの内容 */
.tabContent {
    display: none;
}

.tabContent.active {
    display: block;
}
